*{
    padding: 0;
    margin: 0;
}

.register_box{
    width: 960px;
    height: 940px;
    float: right;
}
.fl_img{
    display: inline-block;
}
.QQ_shortcut{
    height:32px;
    width: 960px;
    margin-top: 45px;
}
.QQ_shortcut ul{
    float: right;
    list-style: none;
}
.QQ_shortcut ul li{
    float: right;
}
.QQ_shortcut ul li a{
    text-decoration: none;
    line-height: 38px;
    margin-right: 60px;
    color: #999;
    font-size: 18px;
}
.register_box h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: 70px;
}
.register_box h3{
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}
.register_box .button input{
    text-indent: 1em;
    font-size: 20px;
    height: 50px;
    width: 470px;
    border-radius:5px;
    border: 1px #aaa solid;
    margin-top: 35px;
    color: #999;
}
#text2{
    margin-top: 20px;
}
.register_box .button select{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
    text-indent: 1em;
    border: 1px #aaa solid;
}
.register_box .button .one{
    margin-left: 20px;
    height: 50px;
    width: 293px;
}
.remind{
    height: 14px;
    width: 155px;
    font-size: 14px;
    overflow: hidden;
    color: #999;
    line-height: 14px;
    margin-top: 7px;
    /* background-color: blue; */
}
.register_box .button button{
    height: 60px;
    width: 470px;
    border: 1px #3083ff solid;
    background-color: #3487ff;
    margin: 40px 0 8px;
    font-size: 28px;
    font-weight: lighter;
    color: aliceblue;
    line-height: 60px;
}
.register_box .button button:hover{
    background-color: blue;
}
.register_box .button .box{
    line-height: 30px;
    font-size: 13px;
    color: #aaa;
    margin-top: 1px;
}
.register_box .button .checkbox{
    width: 12px;
    height: 12px;

}
.register_box .botton{
    margin-top: 185px;
    font-size: 14px;
    color: #bbb;
}
#text3{
    opacity: 0;
    color: red;
}
#text4{
    opacity: 0;
    color: red;
}